<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main/main}">

<main layout:fragment="main">
	<div class="writeContent">
		<div class="white">
			<div>
				<h1>Q&A</h1>
			</div>

			<form method="post" th:action="@{/QnA/write}" autocomplete="off"
				th:object="${qnARequest}">
				<div class="flex">
					<div class="write_content">
						<div class="subject">
							<span>제목</span> <input class="subjectInput" type="text"
								name="subject" th:field="*{subject}">
							<div th:each="err : ${#fields.errors('subject')}"
								th:text="${err}" class="error"></div>
						</div>
					</div>
					<button type="submit">
						<i class="xi-pen xi-x">글쓰기</i>
					</button>
				</div>
				<div>
					<span class="displayNone">작성자</span> <input class="displayNone" type="text" name="poster"
						th:field="*{poster}">
					<div th:each="err : ${#fields.errors('poster')}" th:text="${err}"
						class="error"></div>
				</div>
				
				<div th:each="err : ${#fields.errors('question')}" th:text="${err}"
					class="error"></div>
				<textarea id="textarea" name="question" class="text_content"
					th:field="*{question}" placeholder="내용 입력"></textarea>
		</form>
		</div>
	</div>
</main>

</html>