<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main/main}">

<main layout:fragment="main">
	<div class="content">
		<div class="submenu">
			<ul>
				<li><a th:href="@{/board/notice}">공지사항</a></li>
				<li><a th:href="@{/board/freetalk}">자유게시판</a></li>
				<li><a th:href="@{/board/info}">정보공유</a></li>
				<li><a th:href="@{/board/good}">추천게시판</a></li>
			</ul>
		</div>
		<div class="board_view" th:object="${boardDataDto}">
			<div class="view_header">
				<span><strong>게시글</strong></span>
				<th:block th:if="${session.user != null}">
					<a th:if="${session.user.memId == boardDataDto.user.memId}" th:href="@{/board/update/{id}(id=${boardDataDto.id})}">
						<i class="xi-wrench xi-x">수정하기</i>
					</a>
				</th:block>
			</div>
			<div class="view_content">
				<div th:if="${fileInfos != null}" class="file_wrap">
					<button type="button" id="file_btn" class="file_btn"><i class="xi-caret-down-square-o">파일목록</i></button>
					<ul class="file_list" id="file_list">
						<li th:each="file : ${fileInfos}" th:object="${file}">
							<a th:href="@{/file/download/{id}(id=${file.id})}" th:text="*{fileName}"></a>
						</li>
					</ul>
				</div>
				<div>
					<span>제목</span>
					<h2 th:text="*{subject}"></h2>
				</div>
				<div>
					<span>작성자</span>
					<span>(<th:block th:text="*{user.memId}"></th:block>)</span>
					<h2 th:text="*{poster}"></h2>
				</div>
				<div class="view_text" th:utext="*{contents}">
				</div>
			</div>
			<div class="comment_wrap">
				<th:block th:if="${session.user != null}">
				<div class="write_comment">
					<form method="post" th:action="@{/board/comment/write}" autocomplete="off">
						<input type="hidden" name="gid" th:value="${boardDataDto.gid}">
						<h2 th:text="${session.user.fakeName}"></h2>
						<textarea name="comments"></textarea>
						<button type="submit" class="comment_btn"><i class="xi-comment xi-5x"></i></button>
					</form>
				</div>
				</th:block>
				<div class="view_comment">
					<div class="one_view" th:each="comment : ${commentDtos}" th:object="${comment}">
						<h3 th:text="poster"></h3>
						<div class="one_text">
							<span th:text="*{comments}"></span>
						</div>
						<th:block th:if="${session.user != null}">
							<th:block th:if="${session.user.memId == comment.user.memId}">
								<button type="button">수정하기</button>
							</th:block>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

</html>