<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main/main}">

<main layout:fragment="main">
	<div class="content">
		<div class="submenu">
			<ul>
				<li><a th:href="@{/board/notice}">공지사항</a></li>
				<li><a th:href="@{/board/freetalk}">자유게시판</a></li>
				<li><a th:href="@{/board/info}">정보공유</a></li>
				<li><a th:href="@{/board/good}">추천게시판</a></li>
			</ul>
		</div>
		<div class="board_write">
			<form method="post" autocomplete="off" th:action="@{/board/write}"
				th:object="${boardDataRequest}">
				<div class="write_header">
					<span><strong>게시판 글쓰기</strong></span>
					<button type="submit">
						<i class="xi-pen xi-x">글쓰기</i>
					</button>
				</div>
				<input type="hidden" name="gid" th:field="*{gid}"> <input
					type="hidden" name="boardId" th:field="*{boardId}"> <input
					type="hidden" name="id" th:if="${mode == 'update'}"
					th:field="*{id}">
				<div th:each="err : ${#fields.globalErrors()}" th:text="${err}"
					class="error"></div>
				<div class="write_content">
					<div>
						<span>제목</span>
						<input type="text" name="subject" th:field="*{subject}">
						<div th:each="err : ${#fields.errors('subject')}" th:text="${err}" class="error"></div>
					</div>
					<div>
						<span>작성자</span>
						<input type="text" name="poster" th:field="*{poster}">
						<div th:each="err : ${#fields.errors('poster')}" th:text="${err}" class="error"></div>
					</div>
					<div id="wrap_file" class="wrap_file">
						<i class="xi-file-add xi-x"></i>
						<input type="file" id="file" multiple>
						<div id="drop_box" class="file_drag">
							<span id="text_remove"><i class="xi-file-upload xi-x"></i>업로드 할 파일을 드래그
								해주세요</span>
								<ul id="uploaded_files">
								
								</ul>
						</div>
					</div>
					<div class="wrap_text">
						<div th:each="err : ${#fields.errors('contents')}" th:text="${err}" class="error"></div>
						<textarea id="text_content" name="contents"
							class="text_content" th:field="*{contents}"></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<script type="text/html" id="fileListTpl">
		<li>
			<a href="../file/download/<%=id%>"><%=fileName%></a>
			<span class='remove' data-id="<%=id%>">[X]</span>
		</li>
	</script>
</main>

</html>