main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.searchfrm{
	width: 80%;
	display: flex;
	justify-content: center;
	height: 50px;
}

.searchfrm input{
	width: 100%;
	border-radius: 4px 0px 0px 4px;
	border-right: 0px;
	height: 100%;
}

.searchfrm select{
	border: 1px solid #d5d5d5;
	border-right: 0px;
	padding: 0px 10px 0px 10px;
	width: 100px;
	
}
.searchfrm button{
	border: 1px solid #d5d5d5;
	border-radius: 0px 4px 4px 0px;
	padding: 0px 20px 0px 20px;
	width: 70px;
}


ul{
	width:80%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.product_list li{
	display:flex;
	width: calc(100%/6);
	margin: 20px;
	
	
}
li a{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
li a div{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
li a .bookImg {
	display:flex;
	justify-content:center;
	align-items:center;
	max-width: 160px;
	padding:4px;
	background-color: #d5d5d5;
	
	
	
}
li a .bookImg img{
	width: 100%;
	height: 100%;
	
}

li a .bookTitle{
	
	
	
}
li a .bookWriter{
	
	width: 100%;
	
}
li a .bookPrice{
	
	width: 100%;
	
}
h2{
	display:block;
	width:80%;
	text-align: left;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	padding-left:15px;
	color:#3c3c3c;
	border-color:#3c3c3c;
	margin: 0px;
}
