main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main>div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ProductList {
	display: flex;
	flex-direction: column;
}

.ProductList li {
	width: 100%;
	border-bottom: 1px solid #444444;
	padding: 15px;
}
.ProductList li a{
	display: flex;
	
}

.ProductList li a>div {
	height: 260px;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	margin: 5px;
	
}

.productImgArea{
	padding: 5px;
	background-color: #dddddd;
}
.ProductList li a>div dl{
	display: flex;
	flex-direction: row;
}

.ProductList li a>div>img {
	width: 100%;
	height: 100%;
}
.title{
	font-size: 1.8rem;
}
.price{
	font-size: 1.4rem;
}
.totalprice{
	font-size:1.6rem;
}