.outer{
	
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.productArea{
	margin-top:100px;
	display:flex;
	width: 80%;

	justify-content: center;
	
}
.productArea > div{
	margin: 20px;
	
}

.productImg{
	width: 220px;
	height: 350px;
	background-color: #dddddd;
	padding: 5px;
}
.productImg img{
	width: 100%;
	height: 100%;
}

.productInfo{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#title{
	display:flex;
	flex-direction:column;
	font-size: 2rem;
}
#title dd{
	font-size: 1rem;
}


#writer{
	font-size: 1.2rem;
}
#price{
	font-size: 1.2rem;
}
#category{
	font-size: 1.2rem;
}

#count{
	font-size: 1.2rem;
}

.btn_grup{
	display: flex;
}

.btn_grup button{
	width:100%;
	padding:15px;
	border-radius:3px;
	margin: 5px;
	font-size: 1.5rem;
}
.btn_grup #buy{
	background-color: #ffcc1c;
}
.btn_grup #addCart{
	background-color: #ff881c;
	
}

.sameProduct h2{
	border-bottom:1px solid black;
	padding: 8px;
}

.productArea dl{
	display: flex;
	
}
.productInfo dl dt, dd{
	padding: 5px;
	display: flex;

}
.productInfo dl dt{
}


.selectEl{
	margin-top:70px;
	display: flex;
}
.selectEl div:nth-of-type(1){
	border-right:0px; 	
	background-color: #dedede;
	
	
}
.selectEl div:nth-of-type(2){
	background-color: #535353;
	color: white;
}

.selectEl div{
	position:relative;
	left:25%;	
	
	border-bottom:0px;
	padding:10px;
	

	font-size: 1.8rem;
	
	border-radius: 3px 3px 0px 0px;
	
	

}
.sameProduct{
	padding: 20px 0px 20px 0px;
	background-color: #dedede;
}

.sameProduct ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.sameProduct ul li .bookImg{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
	margin-bottom: 5px;
}

.sameProduct ul li{
	margin: 5px;
	padding: 10px;
	width:180px;
}


.sameProduct ul li img{
	max-width: 160px;
	height: 220px;
	padding: 5px;
	
}

.sameProduct ul li .bookTitle{
	font-size: 1.2rem;	
}

.productReview{
	width: 100%;
	background-color: #535353;
	display: flex;
	justify-content: center;
}

.productReview ul{
	display: flex;
	width: 80%;
	justify-content:center;
	align-items:center;
	flex-wrap: wrap;
}

.productReview ul li{
	width: 30%;
	padding: 20px;
	
	
}

.productReview ul li img{
	max-width: 200px;
	max-height: 200px;
}

.productReview ul li .reviewInfo{
	margin-bottom: 10px;
}

.productReview ul li .reviewData{
	padding:15px;
	width: 300px;
	height:200px;
	border:1px solid white;
	border-radius:4px;
	overflow: auto;
	-ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
    background-color: #5c5c5c;
    
}



.productReview ul li .reviewData::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}


.productReview ul li div span,p{
	color: white;
	
}
