body::-webkit-scrollbar {
    display: none;
}
ul{
	display: flex;
	flex-wrap: wrap;
}

li{
	width: 140px;
	height: 240px;
	margin: 10px;
	padding: 10px;
	background-color: #e0e0e0;

}
li a{
	width: 100%;
	height: 100%;
	
}
li a div{
	width: 100%;
	height: 100%;
}
li a div img{
	width: 100%;
	height: 100%;
	
}