.white{color: #fefaf0;}
.blue{color: #313f76;}

.pb-10{padding-bottom: 10px;}
.pt-10{padding-top: 10px;}

.content_wrap {
padding-top: 90px;
    background-color: #fefaf0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 600px;
}

table, th, td {
	border-top: 1px solid #000;
	border-collapse: collapse;
	padding: 10px;
}

.content_wrap .qna_info {
	padding: 20px;
	border: 1px solid #d8d8d8;
	text-align: center;
	width: 1000px;
}

.content_wrap .qna_info table {
	width: 100%;
	border-top: 1px solid #141212;
	border-bottom: 1px solid #141212;
	margin-bottom: 10px;
}

.content_wrap .qna_info table .qna_header {
border-bottom: 2px solid #678dab;
    background-color: #678dab;
}

.write {
	float: right;
}
.content_wrap .qna_info .page_wrap a {
    border: 1.5px solid #678dab;
    /* background-color: #678dab; */
    padding: 5px 8px;
    font-weight: 700;
    border-radius: 50%;
}

.page_wrap{display: flex;
    justify-content: center;}
