.content_wrap {
	padding-top: 50px;
	width: 1200px;
	margin: 0 auto;
}
.content_wrap .write_info {
	border: 1px solid #d8d8d8;
}
.content_wrap .write_info div button {
	float: right;
	margin: 10px;
	padding: 10px;
}
.content_wrap .write_info .write_content {
	padding-top: 50px;
}
.content_wrap .write_info .write_content input[type='text'] {
	width: 100%;
}
.content_wrap .write_info .write_content .wrap_text textarea {
	margin-top: 20px;
	width: 100%;
	height: 100px;
}