<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin/adminLayout}">
<main layout:fragment="main">
	<div class="adminProduct">
		<form th:action="@{/admin/productManager}" id="frm" method="post">
			<table>
				<thead>
					<tr>
						<th><input type="checkbox"></th>
						<th>판매자</th>
						<th>시리얼 넘버</th>
						<th>책 이름</th>
						<th>글쓴이</th>
						<th>가격</th>
						<th>카테고리</th>
						<th>출판사</th>
						<th>남은 수량</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${product}" th:object="${product}">
						<td>
							<div>
								<input type="checkbox" th:name="product" th:value="*{num}">
							</div>
						</td>
							
						<td>
							<div>
								<input type="text" disabled th:value="*{seller.getMemId()}">
							</div>
						</td>

						<td>
							<div>
								<input type="text" disabled th:value="*{serialnum}">
							</div>
						</td>

						<td>
							<div>
								<input type="text" disabled th:value="*{bookName}">
							</div>
						</td>

						<td>
							<div>
								<input type="text" disabled th:value="*{writer}">
							</div>
						</td>

						<td>
							<div>
								<input type="number" disabled th:value="*{price}">
							</div>
						</td>

						<td>
							<div>
								<input type="text" disabled th:value="*{category}">
							</div>
						</td>
						
						<td>
							<div>
								<input type="text" disabled th:value="*{publisher}">
							</div>
						</td>
						
						<td>
							<div>
								<input type="number" disabled th:value="*{count}">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			상품을
			<select th:name="mode">
				<option value="agree">수락</option>
				<option value="rejected">거절</option>
			</select>
			합니다
			<button type="button" id="product_btn">처리하기</button>
		</form>
	</div>
</main>
</html>