<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	
>
<body>
	<header th:fragment="header">
	
			<div class="join-menu" >
				<div class="logo ml">
					<button id="btn"><i class="xi-bars"></i></button>
					<a href="">로고 부분</a>
				</div>
				<div class="layout_width">
					
						<th:block th:if="${session.user == null}" >
						<a th:href="@{/user/join}" >회원가입</a>
						<a th:href="@{/user/login}" class="mr">로그인</a>
						</th:block>
						
						<th:block th:unless="${session.user == null}">
						<input type="text" disabled th:value="${session.user.fakeName}">
						<a th:href="@{/mypage}">MyPage</a>
						<a href="">로그아웃</a>
						</th:block>
						
						
						
						
						
							<a th:href="@{/admin}" target="_blank"  th:text="#{admin.page}"></a>
						
							<a th:href="@{/seller}" target="_blank"  th:text="#{seller.page}"></a>
					
				</div>
			</div>
	
	</header>
</body>

</html>