<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
>
<body>
	<header th:fragment="header">
	
			<div class="join-menu" >
				<div class="logo ml">
					<button id="btn"><i class="xi-bars"></i></button>
					<a href="">로고 부분</a>
				</div>
				<div class="layout_width">
					
						<a href="" >회원가입</a>
						<a href="" class="mr">로그인</a>
					
					
						${user.fakeName}님 환영합니다.
						<a href="">MyPage</a>
						
						<a href="">로그아웃</a>
						
							<a th:href="@{/admin}" target="_blank"  th:text="#{admin.page}"></a>
						
							<a th:href="@{/seller}" target="_blank"  th:text="#{seller.page}"></a>
					
				</div>
			</div>
	
	</header>
</body>

</html>