<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main/main}">
<main layout:fragment="main">

	<div class="content">
		<form method="post" th:action="@{/user/join}" autocomplete="off"
			th:object="${joinRequest}">
			<div class="join">
				<div th:each="err : ${#fields.globalErrors()}" th:text="${err}"
					class="error"></div>
				<th:block th:if="${joinRequest.kakaoId != null}">
					<h2>기존 회원이면 로그인 후 마이페이지에서 연동 부탁드립니다.</h2>
				</th:block>
				<input type="hidden" th:field=*{kakaoId} >
				<dl>
					<dt th:text="#{user.memId}" class="text"></dt>
					<dd>
						<input class="joinInput" type="text" name="memId"
							th:field="*{memId}">
						<div th:each="err : ${#fields.errors('memId')}" th:text="${err}"
							class='error'></div>
					</dd>
				</dl>

				<dl>
					<dt th:text="#{user.memPw}" class="text"></dt>
					<dd>
						<input class="joinInput" type="password" name="memPw"
							th:field="*{memPw}">
						<div th:each="err : ${#fields.errors('memPw')}" th:text="${err}"
							class='error'></div>
					</dd>
				</dl>

				<dl>
					<dt th:text="#{user.memPwRe}" class="text"></dt>
					<dd>
						<input class="joinInput" type="password" name="memPwRe"
							th:field="*{memPwRe}">
						<div th:each="err : ${#fields.errors('memPwRe')}" th:text="${err}"
							class='error'></div>
					</dd>
				</dl>

				<dl>
					<dt th:text="#{user.memNm}" class="text"></dt>
					<dd>
						<input class="joinInput" type="text" name="memNm"
							th:field="*{memNm}">
						<div th:each="err : ${#fields.errors('memNm')}" th:text="${err}"
							class='error'></div>
					</dd>
				</dl>

				<dl>
					<dt th:text="#{user.fakeName}" class="text"></dt>
					<dd>
						<input class="joinInput" type="text" name="fakeName"
							th:field="*{fakeName}">
						<div th:each="err : ${#fields.errors('fakeName')}"
							th:text="${err}" class='error'></div>
					</dd>
				</dl>

				<dl>
					<dt th:text="#{user.mobile}" class="text"></dt>
					<dd>
						<input class="joinInput" type="text" name="mobile"
							th:field="*{mobile}">
						<div th:each="err : ${#fields.errors('mobile')}" th:text="${err}"
							class='error'></div>
					</dd>
				</dl>

				<dl>
					<dt th:text="#{user.email}" class="text"></dt>
					<dd>
						<input class="joinInput" type="email" name="email"
							th:field="*{email}">
						<div th:each="err : ${#fields.errors('email')}" th:text="${err}"
							class='error'></div>
					</dd>
				</dl>

				<dl>
					<dt th:text="#{user.adress}" class="text"></dt>
					<dd>
						<!-- <input class="joinInput" type="text" name="adress" th:field="*{adress}"> -->
						<!-- 카카오 주소 API -->
						<p>
							<input type="text" th:name="postcode" id="sample6_postcode" placeholder="우편번호" readonly>
							<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
								<br>
							<input type="text" th:name="addr" id="sample6_address" placeholder="주소" readonly>
								<br>
							<input type="text" th:name="extraaddr" id="sample6_extraAddress" placeholder="참고항목" readonly>
							<input type="text" th:name="datiladdr" id="sample6_detailAddress" placeholder="상세주소" th:field="*{adress}">
						</p>
						
						<!-- 카카오 주소 API -->
						<div th:each="err : ${#fields.errors('adress')}" th:text="${err}"
							class='error'></div>
					</dd>
				</dl>

				<dl>
					<dt th:text="#{user.birthDay}" class="text"></dt>
					<dd>
						<input class="joinInput  flex" type="date" name="birthDay"
							th:field="*{birthDay}">
						<div th:each="err : ${#fields.errors('birthDay')}"
							th:text="${err}" class='error'></div>
					</dd>
				</dl>

				<dl>
					<dt th:text="#{user.gender}" class="text"></dt>
					<dd class="gender joinInput">
						<div class="manBtn">
							<input class="pointer" type="radio" name="gender" id="gender"
								th:field="*{gender}" value="men"> <label for="gender"
								class="man">남자</label>
						</div>
						<div class="manBtn">
							<input class="pointer" type="radio" name="gender" id="gender"
								th:field="*{gender}" value="women"> <label for="gender"
								class="woman">여자</label>
						</div>
					</dd>
				</dl>

				<dl>
					<dd class="agree">
						<input class="agreebox" type="checkbox" name="agreeTerms"
							th:field="*{agreeTerms}" id="agreeTerms"> <label
							for="agreeTerms" th:text="#{user.agreeTerms}"></label>
					</dd>
					<div class="agreeflex">
						<div th:each="err : ${#fields.errors('agreeTerms')}"
							th:text="${err}" class='error'></div>
					</div>
				</dl>

				<div class="btn-grp mt-40">
					<button type="submit" th:text="#{user.join}"></button>
					<button type="reset" th:text="#{user.reset}"></button>
				</div>

			</div>
		</form>
	</div>
	
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	function sample6_execDaumPostcode(){
		new daum.Postcode({
			oncomplete : function(data){
				
				var addr = ''; // 주소 변수
				var extraAddr = ''; // 참고항목 변수
				
				// 사용자가 선택한 주소가 도로명 타입일 때 참고항목을 조합한다.
				if (data.userSelectedType === 'R'){ // 사용자가 도로명 주소를 선택했을 경우
					addr = data.roadAddress; 
				}else{ // 사용자가 지번 주소를 선택했을 경우 (J)
					addr = data.jibunAddress;	
				}
				
				// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다
				if (data.userSelectedType === 'R'){
					// 법정동명이 있을 경우 추가한다.
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if(data.bname !== '' && /[동/로/가]$/g.test(data.bname)){
						extraAddr += data.bname;
					}
				
				// 건물명이 있고, 공동주택일 경우 추가한다
				if(data.buildingName !== '' && data.apartment === 'Y'){
					extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
				}
				// 표시할 ㅊ마고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
				if(extraAddr !== ''){
					extraAddr = '(' + extraAddr + ')'
				}
				// 조합된 참고항목을 해당 필드에 넣는다.
				document.getElementById("sample6_extraAddress").value = extraAddr;
				}else{
				document.getElementById("sample6_extraAddress").value = '';	
				}
				
				// 우편번호와 주소 정보를 해당 필드에 넣는다.
				document.getElementById("sample6_postcode").value = data.zonecode;
				document.getElementById("sample6_address").value = addr;
				document.getElementById("sample6_detailAddress").focus();
			}
		}).open();
	}
</script>
</main>
</html>