.review{padding-top: 50px;
    margin: 0 auto;
    width: 1000px;}

.reviewProductImages img {
  max-width: 170px;
  height: auto;
  display: block;
  max-height: 235px;
  margin-bottom: 5px;
  display: inline-block; 
}

.writer{
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 2px;
}

.publisher{
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 2px;
}

.price{
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 2px;
}

