<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layouts/main/main}"
>
	<main layout:fragment="main">
		<div class="outer">
		
			<form method="get" th:action="@{/shop/payment/}+${product.num}" class="productArea" th:object="${product}">
				<div class="productImg">

					<img alt="" th:src="@{/productImages/}+*{imageNum%10}+${'/'}+*{imageNum}">

				</div>
				
				<div class="productInfo">
				
					<dl id="title" >
						
						<dt th:text="*{bookName}"></dt>
						<dd>
							<span>★★★★☆</span>
							<span>4점</span>
						</dd>						
					</dl>
					
					
					<dl id="writer" >
						<dt th:text="${'지은이'}"></dt>
						<dd th:text="*{writer}"></dd>
					</dl>
					
					<dl id="price" >
						<dt th:text="${'가격'}"></dt>
						<dd th:text="*{price}+${'원'}"></dd>
					</dl>
					
					<dl id="count" >
						<dt th:text="${'수량'}"></dt>
						<dd>
							<input type="number" name="count" min="1" value="1" >
						</dd>
					</dl>
					
					
					<dl id="category" >
						<dt th:text="${'카테고리'}"></dt>
						<dd th:text="*{category}"></dd>
					</dl>
					
					
					<div class="btn_grup">
						<button id="buy" name="mode" value="buy" th:if="*{count>0}" >구매하기</button>
						<button type="button" style="background-color: #d6d6d6;" id="buy" name="mode" value="buy" th:if="*{count==0}" >재고없음</button>
						
						<button id="addCart" name="mode" value="addCart">장바구니</button>
					</div>					

				
				</div>
				
			</form>
			


		</div>
		
		<div class="selectEl">
			<div>비슷한 상품</div>
			<div>리뷰</div>
		</div>
		<div class="sameProduct">
			<ul class="product_list">
				<li th:each="product :  ${sameProduct}">
					<a th:href="@{/shop/product/}+${product.num}">
						<div class="bookImg">
							<img alt="" th:src="@{/productImages/}+${product.imageNum%10}+${'/'}+${product.imageNum}">
						</div>
						
						<div class="bookTitle" th:text="${product.bookName}">책이름</div>
						
						<div class="bookWriter" th:text="${product.writer}">저자</div>
						
					</a>
				</li>
		
			</ul>
		</div>
	</main>
</html>