<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<body>
		<link rel="styleSheet" th:href="@{/css/shop/productNavResult.css}">
		<link rel="styleSheet" th:href="@{/css/common/clear.css}">
	
		<ul>
			<li th:each=" product :${productList}">
				<a target="parent" th:href="@{/shop/product/}+${product.num}">
					<div class="bookImg">
						<img alt="" th:src="@{/productImages/}+${product.imageNum%10}+${'/'}+${product.imageNum}">
					</div>
					
				</a>
			</li>
		</ul>
	</body>
</html>