<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layouts/main/main}"
>
	<main layout:fragment="main">
		<div class="outer">
		
			<form method="get" th:action="@{/shop/payment/}+${product.num}" class="productArea" th:object="${product}">
				<div class="productImg">

						<img alt="" th:src="@{/productImages/}+${product.num%10}+${'/'}+${product.num}">

				</div>
				
				<div class="productInfo">
				
					<dl id="title" >
						
						<dt th:text="*{bookName}"></dt>
						<dd>
							<span>★★★★☆</span>
							<span>4점</span>
						</dd>						
					</dl>
					
					
					<dl id="writer" >
						<dt th:text="${'지은이'}"></dt>
						<dd th:text="*{writer}"></dd>
					</dl>
					
					<dl id="price" >
						<dt th:text="${'가격'}"></dt>
						<dd th:text="*{price}+${'원'}"></dd>
					</dl>
					
					<dl id="count" >
						<dt th:text="${'수량'}"></dt>
						<dd>
							<input type="number" name="count" min="1" value="1" >
						</dd>
					</dl>
					
					
					<dl id="category" >
						<dt th:text="${'카테고리'}"></dt>
						<dd th:text="*{category}"></dd>
					</dl>
					
					
					<div class="btn_grup">
						<button id="buy" name="mode" value="buy" th:if="*{count>0}" >구매하기</button>
						<button type="button" style="background-color: #d6d6d6;" id="buy" name="mode" value="buy" th:if="*{count==0}" >재고없음</button>
						
						<button id="addCart" name="mode" value="addCart">장바구니</button>
					</div>					

				
				</div>
				
			</form>
			


		</div>
		
		<div class="selectEl">
			<div id="showSameProduct">비슷한 상품</div>
			<div id="showReview">리뷰</div>
		</div>
		<div class="sameProduct" id="sameProduct">
			<ul class="product_list">
				<li th:each="product :  ${sameProduct}">
					<a th:href="@{/shop/product/}+${product.num}">
						<div class="bookImg">
						<img alt="" th:src="@{/productImages/}+${product.num%10}+${'/'}+${product.num}">
						</div>
						
						<div class="bookTitle" th:text="${product.bookName}">책이름</div>
						
						<div class="bookWriter" th:text="${product.writer}">저자</div>
						
					</a>
				</li>
		
			</ul>
		</div>
		<div class="productReview dn" id="productReview">
			<ul class="productReview_list">
			
			
				
					<li th:if="${!#lists.isEmpty(productReview)}" th:each="review : ${productReview}" th:object="${review}">
						
						<div class="reviewInfo">
							<span th:text="*{payment.user.memNm}"></span>
							<span th:text="*{modDt}"></span>
							<p>
								<th:block th:if="*{score!=0}" th:each="num : *{#numbers.sequence(0,score)}">
									★
								</th:block>
								<th:block th:each="num : *{#numbers.sequence(1,5-score)}">
									☆
								</th:block>
								<span th:text="'( '+*{score}+' )'"></span>
							</p>
						</div>
						<div class="reviewData">
						
							<p class="review_content" th:utext="*{content}"></p>
							
						</div>
					</li>
					<li th:if="${#lists.isEmpty(productReview)}">
						
						<div class="reviewData">
						
							<p class="review_content">
								작성된 리뷰가 없습니다.
							</p>
							
						</div>
					</li>
				
			</ul>
		</div>
	</main>
</html>