<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layouts/main/main}"
>
	<main layout:fragment="main">
	<h1>쇼핑몰 페이지</h1>
	
	<!-- 상품검색 창 -->
	<th:block th:replace="layouts/shop/productSearchNav::productSearchNav">
	
	</th:block>
	
	
	<h2>신간</h2>
		<ul>
			<li th:each="product :  ${newProductList}">
				<a th:href="@{/shop/product/}+${product.num}">
					<div class="bookImg">
						<img alt="" th:src="@{/productImages/}+${product.imageNum%10}+${'/'}+${product.imageNum}">
					</div>
					
					<div class="bookTitle" th:text="${product.bookName}">책이름</div>
					
					<div class="bookWriter" th:text="${product.writer}">저자</div>
					
					<div class="bookPrice" th:text="${product.price}">10000원</div>
				</a>
			</li>
		</ul>
		
		<h2>많이 구매한 상품</h2>
		<ul>
			<li th:each="product :  ${bestSellerList}">
				<a th:href="@{/shop/product/}+${product.num}">
					<div class="bookImg">
						<img alt="" th:src="@{/productImages/}+${product.imageNum%10}+${'/'}+${product.imageNum}">
					</div>
					
					<div class="bookTitle" th:text="${product.bookName}">책이름</div>
					
					<div class="bookWriter" th:text="${product.writer}">저자</div>
					
					<div class="bookPrice" th:text="${product.price}">10000원</div>
				</a>
			</li>
		</ul>
		
		<h2>나만의상점</h2>
		<ul>
			<li th:each="product :  ${myShopList}">
				<a th:href="@{/shop/product/}+${product.num}">
					<div class="bookImg">
						<img alt="" th:src="@{/productImages/}+${product.imageNum%10}+${'/'}+${product.imageNum}">
					</div>
					
					<div class="bookTitle" th:text="${product.bookName}">책이름</div>
					
					<div class="bookWriter" th:text="${product.writer}">저자</div>
					
					<div class="bookPrice" th:text="${product.price}">10000원</div>
				</a>
			</li>
		</ul>
	</main>
</html>