<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin/adminLayout}">

<main layout:fragment="main">
	<form th:action="@{/admin/board}" method="post" th:object="${adminBoardRequest}">
		<div style="width: 1200px; margin: 0 auto; padding-top: 50px;">

			<dl>
				<dt>게시판 아이디</dt>
				<dd>
					<input type="text" th:field="*{boardId}">
				</dd>
			</dl>

			<dl>
				<dt>게시판 이름</dt>
				<dd>
					<input type="text" th:field="*{boardName}">
				</dd>
			</dl>

			<dl>
				<dt>1페이지당 게시판 수</dt>
				<dd>
					<input type="text" th:field="*{pageCount}">
				</dd>
			</dl>

			<div class="btn">
				<button type="reset">다시쓰기</button>
				<button type="submit">추가하기</button>
			</div>
			<h1>관리자 페이지 관리 추가중</h1>
		</div>
	</form>
</main>
</html>