<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin/adminLayout}">

<main layout:fragment="main">
	<form th:action="@{/admin/board}" method="post" th:object="${adminBoardRequest}">
		<div style="width: 1200px; margin: 0 auto; padding-top: 50px;">

			<dl>
				<dt>게시판 아이디</dt>
				<dd>
					<input type="text" th:field="*{boardId}">
				</dd>
			</dl>

			<dl>
				<dt>게시판 이름</dt>
				<dd>
					<input type="text" th:field="*{boardName}">
				</dd>
			</dl>

			<dl>
				<dt>1페이지당 게시판 수</dt>
				<dd>
					<input type="text" th:field="*{pageCount}">
				</dd>
			</dl>
			
			<dl>
				<dt>게시판 사용 여부</dt>
				<dd>
					<input type="radio" th:field="*{isUse}">
				</dd>
			</dl>
			
			<dl>
				<dt>회원 전용 게시판</dt>
				<dd>
					<input type="radio" th:field="*{memberOnly}">
				</dd>
			</dl>
			
			<dl>
				<dt>댓글 허용 여부</dt>
				<dd>
					<input type="radio" th:field="*{commentUse}">
				</dd>
			</dl>
			
			<div class="btn">
				<button type="reset">다시쓰기</button>
				<button type="submit">추가하기</button>
			</div>
		</div>
	</form>
</main>
</html>