<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main/main}">

	<main layout:fragment="main">
		<div class="content">
			<ul class="mypage_list">
				<li class="count">
					<a th:href="@{/mypage/userInfo}">회원정보<i class="xi-angle-right"></i></a>
				</li>
				
				<li class="count">
					<a th:href="@{/mypage/changePass}">비밀번호변경<i class="xi-angle-right"></i></a>
				</li>
				<th:block th:if="${session.user.kakaoId == null}">
					<li class="count">
						<a th:href="@{/api/kakao/oauth}">카카오 연동<i class="xi-angle-right"></i></a>
					</li>
				</th:block>
				
				<li class="count">
					<a th:href="@{/mypage/myorder}">주문내역<i class="xi-angle-right"></i></a>
				</li>
				
				<li class="count">
					<a href="http://pf.kakao.com/_xccUSxj">카카오톡 플러스 친구 등록하기<i class="xi-angle-right"></i></a>
				</li>
				
				<li class="count">
					<a href="http://pf.kakao.com/_xccUSxj/chat">카카오톡 문의하기(카카오 로그인을 하셔야 합니다.)<i class="xi-angle-right"></i></a>
				</li>
			</ul>
		</div>
	</main>

</html>