<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main/main}">
<main layout:fragment="main">

	<div style="margin-top: 70px;" class="productArea">
		<h1 >주문한 상품</h1>
		<ul class="ProductList">
			<li th:each="payment : ${paymentList}" th:object="${payment}">
				<a>
					<div class="productImgArea">
						<img alt=""
							th:src="@{/productImages/}+*{product.num%10}+${'/'}+*{product.num}">
						
					</div>
					
					<div>
						<dl>
							<dt class="title" th:text="*{product.bookName}">
							</dt>
							<dd></dd>
						</dl>
						
						<dl class="price">
							<dt>가격</dt>
							<dd th:text="*{product.price}+'원'"></dd>
						</dl>
						
						<dl class="count">
							<dt>수량</dt>
							<dd th:text="*{count}+'개'"></dd>
						</dl>
						
						
						<dl class="totalprice">
							<dt>결제금액</dt>
							<dd th:text="${#numbers.formatInteger(payment.count,1)} * ${#numbers.formatInteger(payment.product.price,1)}+'원'"></dd>
						</dl>
						

						
						<div class="btn_group">
							<th:block th:if="*{#strings.equals(progress, 'PAYMENT_COMPLET')}">
							
								<button th:data-payment="*{num}" >결제완료</button>
							
							</th:block>
							
							<th:block th:if="*{#strings.equals(progress, 'PAYMENT_BEFORE')}">
							
								<button th:data-payment="*{num}" >취소된 항목</button>
							
							</th:block>
							
							<th:block th:if="*{#strings.equals(progress, 'SHIPPING')}">
							
								<button th:data-payment="*{num}"  >배송중</button>
								<button th:data-payment="*{num}" class="payment_complete">수취 완료</button>
							
							</th:block>
							
							<th:block th:if="*{#strings.equals(progress, 'COMPLETED')}">
							
								<button th:data-payment="*{num}" class="writeReview" >리뷰쓰기</button>
							
							</th:block>
							
							
							<button  class="shareBtn"
								th:data-bookimg="@{/productImages/}+*{product.num%10}+${'/'}+*{product.num}"
								th:data-booknum='*{product.num}'
								th:data-writer='*{product.writer}'
								th:data-price='*{product.price}'
								th:data-bookname='*{product.bookName}'
								th:data-publisher='*{product.publisher}'>
							
								<i class="xi-share-alt-o"></i>
							</button>
						</div>
					
					</div>
					
				</a>
				<form target="ifrm" class="reviewArea dn" method="post" th:id="'payment_'+*{num}">
						<input type="hidden" name="payment" th:value="*{num}" >
						<input type="hidden" name="product" th:value="*{product.num}">
						<textarea class="reviewContext" th:id="'reviewContext_'+*{num}" th:field="${productReview.content}" ></textarea>
						
						<div>
							<select th:field="${productReview.score}">
								<option value="0">☆☆☆☆☆</option>
								<option value="1">★☆☆☆☆</option>
								<option value="2">★★☆☆☆</option>
								<option value="3">★★★☆☆</option>
								<option value="4">★★★★☆</option>
								<option value="5">★★★★★</option>
							</select>
							<button class="doneBtn" onclick="confirm('리뷰를 등록하시겠습니까?')" >완료</button>
						</div>
						
					</form>
			</li>
		</ul>
	</div>
			<th:block th:replace="layouts/commons/pagination_v2::pagination_v2"></th:block>
			<iframe class="dn" name="ifrm"></iframe>


</main>
</html>