<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main/main}">
<main layout:fragment="main">
	<form th:action="@{/mypage/passwordChange}" method="post">
	
		<dl>
			<dt>현재 비밀번호</dt>
			<dd>
				<input type="password" name="password">
			</dd>
		</dl>
	
		<dl>
			<dt>변경하실 비밀번호</dt>
			<dd>
				<input type="password" name="passwordChange">
			</dd>
		</dl>
	
		<dl>
			<dt>변경하실 비밀번호 체크</dt>
			<dd>
				<input type="password" name="passwordChangeRe">
			</dd>
		</dl>
		
		<button type="submit">수정하기</button>
		
	</form>
</main>

</html>