<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main/main}">
<main layout:fragment="main">
<div class="content">
	<form th:action="@{/mypage/passwordChange}" method="post" th:object="${passwordRequest}">
	<div class="mybasic">
		<dl>
			<dt class="text">현재 비밀번호</dt>
			<dd>
				<input class="width100"  type="password" th:field="*{password}" >
				<span th:each="err : ${#fields.errors('password')}" th:text="${err}" class='error'></span>
			</dd>
		</dl>
	
		<dl>
			<dt class="text">변경하실 비밀번호</dt>
			<dd>
				<input class="width100"  type="password" th:field="*{changePassword}">
				<span th:each="err : ${#fields.errors('changePassword')}" th:text="${err}" class='error'></span>
			</dd>
		</dl>
	
		<dl>
			<dt class="text">변경하실 비밀번호 체크</dt>
			<dd>
				<input class="width100"  type="password" th:field="*{changePasswordRe}">
				
				<span th:each="err : ${#fields.errors('changePasswordRe')}" th:text=${err} class='error'></span>
			</dd>
		</dl>
		
		<div class="btn-grp mt-40">
		<button type="submit">수정하기</button>
		</div>
		
	</div>
	</form>
	</div>
</main>

</html>