<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main/main}">
<main layout:fragment="main">
	<form th:action="@{/mypage/changeInfo}" method="post" th:object="${user}">
		<input type="hidden" th:field="*{memNo}"> 
		<input type="hidden" th:field="*{memNm}">
			<div class="content1">
				<div class="mybasic">
					<dl>
						<dt class="text">닉네임</dt>
						<dd>
							<input class="width100" type="text" th:field="*{fakeName}">
						</dd>
					</dl>

					<dl>
						<dt class="text">이메일</dt>
						<dd>
							<input class="width100" type="text" th:field="*{email}">	
						</dd>
					</dl>

					<dl>
						<dt class="text">성별</dt>
						<dd>
							<input class="width100" type="text" th:field="*{gender}">
						</dd>
					</dl>

					<dl>
						<dt class="text">주소</dt>
						<dd>
							<input class="width100" type="text" th:field="*{adress}">
						</dd>
					</dl>

					<dl>
						<dt class="text">생일</dt>
						<dd>
							<input class="width100" type="date" name="birthDay" th:field="*{birthDay}">
						</dd>
					</dl>

					<dl>
						<dt class="text">휴대전화 번호</dt>
						<dd>
							<input class="width100" type="text" th:field="*{mobile}">
						</dd>
					</dl>
					<button type="submit" class="basicBtn">수정하기</button>
				</div>
			</div>	
		</form>
	</main>
</html>