<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/seller/sellerLayout}">

<main layout:fragment="main">
	<div class="sellerEdit">
		<h1 class="text">거절 & 미승인 상품 수정 하기</h1>

		<form th:action="@{/seller/unapproved/edit}" method="get">
			<div class="search">
				<input class="searchInput" type="text" th:name="search"> <select
					th:name="searchType">
					<option value="bookName">책 이름</option>
					<option value="writer">글쓴이</option>
				</select>
				<button>검색하기</button>
			</div>
		</form>

		<form th:action="@{/seller/unapproved/update}" method="post">
			<div class="product">
				<table>
					<thead class="subject">
						<tr>
							<th><input type="checkbox"></th>
							<th>판매자</th>
							<th>시리얼 넘버</th>
							<th>책 이름</th>
							<th>글쓴이</th>
							<th>가격</th>
							<th>카테고리</th>
							<th>출판사</th>
							<th>남은 수량</th>
							<th>승인 상태</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="list : ${list}" th:object="${list}">
							<th:block th:if="${session.user.memId == list.seller.getMemId()}">
							<!-- 관리자가 승인하지 않았거나, 관리자가 거절한 상품 출력 -->
								<th:block th:unless="${@adminProductService.isAdminConfirmed(list.progress, 'Agree')}">
									<td>
										<div>
											<input type="checkbox" th:name="product" th:value="*{num}">
										</div>
									</td>

									<td>
										<div>
											<input class="productbox" type="text" disabled
												th:value="*{seller.getMemId()}">
										</div>
									</td>

									<td>
										<div>
											<input class="productbox" type="text" disabled
												th:value="*{serialnum}">
										</div>
									</td>

									<td>
										<div>
											<input class="productbox" type="text" disabled
												th:value="*{bookName}">
										</div>
									</td>

									<td>
										<div>
											<input class="productbox" type="text" disabled
												th:value="*{writer}">
										</div>
									</td>

									<td>
										<div>
											<input class="productbox" type="number" th:value="*{price}"
												th:name="price + ${('_') + (list.num)}">
										</div>
									</td>

									<td>
										<div>
											<input class="productbox" type="text" disabled
												th:value="*{category}">
										</div>
									</td>

									<td>
										<div>
											<input class="productbox" type="text" disabled
												th:value="*{publisher}">
										</div>
									</td>

									<td>
										<div>
											<input class="productbox" type="number" th:value="*{count}"
												th:name="count + ${('_') + (list.num)}">
										</div>
									</td>

									<td>
										<div>
											<th:block
												th:if="${@adminProductService.isAdminConfirmed(list.progress, 'Examine')}">
												<input type="text" disabled value="미승인">
											</th:block>

											<th:block
												th:if="${@adminProductService.isAdminConfirmed(list.progress, 'Rejected')}">
												<input type="text" disabled value="거절됨">
											</th:block>
										</div>
									</td>
								</th:block>
							</th:block>
						</tr>
					</tbody>
				</table>
				<th:block th:replace="layouts/commons/pagination_v2::pagination_v2"></th:block>
				<div class="last">
					상품을<select th:name="mode">
						<option value="update">수정</option>
						<option value="remove">삭제</option>
					</select>합니다
					<button>처리하기</button>
				</div>
			</div>
		</form>
	</div>
</main>
</html>