<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/seller/sellerLayout}">

<main layout:fragment="main">
	<!--  <img class="mainImg" th:src="@{/image/order.jpg}"/>-->
	<h1 class="main">배송 관리 페이지</h1>
	<!-- 주소, 수량, 핸드폰 번호, 이름, 토스ID(히든) -->
	<form th:action="@{/seller/product/order}" method="post">
		<table class="table">
			<thead class="subject">
				<tr>
					<th><input type="checkbox"></th>
					<th>받는 사람 주소</th>
					<th>책 이름</th>
					<th>수량</th>
					<th>전화번호</th>
					<th>이름</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="payment : ${list}" th:object="${payment}">
					<td>
						<div>
							<input type="checkbox" name="payment_num" th:value="*{num}">
						</div>
					</td>

					<td>
						<div>
							<p class="payment_address payment"
								th:text="${'받는 사람 주소 : '} + *{address}"></p>
						</div>
					</td>

					<td>
						<div>
							<p class="payment_bookName payment"
								th:text="${'책 이름 : '} + *{product.bookName}"></p>
						</div>
					</td>

					<td>
						<div>
							<p class="payment_count payment"
								th:text="${'수량 : '} + *{count} + ${'개'}"></p>
						</div>
					</td>

					<td>
						<div>
							<p class="payment_mobile payment"
								th:text="${'전화번호 : '} + *{recipient_mobile}"></p>
						</div>
					</td>

					<td>
						<div>
							<p class="payment_name payment"
								th:text="${'이름 : '} + *{recipient_name}"></p>
						</div>
					</td>

				</tr>
			</tbody>
		</table>
		<div class="last">
		상품을<select class="lastSelect" name="mode">
			<option value="ship">배송</option>
			<option value="cencel">취소</option>
		</select>합니다
		<button class="btn3" type="submit">처리 하기</button>
		</div>
	</form>
</main>
</html>