<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/seller/sellerLayout}">

<form th:action="@{/seller/review}">
	<main layout:fragment="main">
	<div class="review">
		<h1>리뷰 확인 페이지</h1>

		<th:block th:each="product : ${list}" th:object="${product}">
			<th:block th:if="${session.user.memId == product.seller.getMemId()}">
		<ul>
			<li>
				<a th:name="productNum"
					th:href="@{/seller/review/} + ${product.num}">
					<div class="reviewProductImages">
						<img
							th:src="@{/productImages/} + ${product.num % 10} + '/' + ${product.num}">
					</div>

					<div class="writer" th:text="*{writer}">글쓴이</div>
					
					<div class="publisher" th:text="*{publisher}">출판사</div>
					<div class="price" th:text="*{price}">가격</div>
					<br>
					
				</a>
			</li>
		</ul>
		</div>
	</main>
</form>
</html>