<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/seller/sellerLayout}">

<main layout:fragment="main">
	<div class="sellerProductRequest">
	<form th:action="@{/seller/requestProduct}" id="frm" method="post" enctype="multipart/form-data">
		
		<h1 class="text">판매 신청 하기</h1>
		
		<div class="product">
		<div>
			<div class="inputText">판매자</div> <input type="text" disabled name="seller" value="test"><!-- th:value="${user.memId}" -->
		</div>
		
		<div>
			<div class="inputText">시리얼 넘버</div> <input type="text" name="serialnum" >
		</div>
		
		<div>
			<div class="inputText">책 이름</div> <input type="text" name="bookName" >
		</div>
		
		<div>
			<div class="inputText">글쓴이</div> <input type="text" name="writer">
		</div>

		<div>
			<div class="inputText">가격</div> <input type="number" name="price">
		</div>

		<div>
			<div class="inputText">카테고리</div> <input type="text" name="category" id="categoryInput">
			<select th:replace="~{/seller/category.html :: select}"></select>
		</div>

		<div>
			<div class="inputText">출판사</div> <input type="text" name="publisher">
		</div>

		<div>
			<div class="inputText">수량</div> <input type="number" name="count">
		</div>
		
		<div class="inputText">이미지 파일</div> <input name="file" type="file" >
		
		<button type="button" id="request">신청하기</button>
		</div>
	</form>
	 
	</div>
</main>
</html>