<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/seller/sellerLayout}">
	  
	  <main layout:fragment="main">
			<div class="bg_image"></div>
	<div class="main_text">
		<h1 class="white mainFont">Life-transforming ideas have always</h1>
		<h1 class="white mainFont">come to me through books.</h1>
		<h3 class="white mainFont2">나는 삶을 변화시키는 아이디어를</h3>
		<h3 class="white mainFont2">항상 책에서 얻었다.</h3>
	</div>
	  </main>
</html>