<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/seller/sellerLayout}">

<main layout:fragment="main">
	<form th:action="@{/seller/productRequest}" id="frm" method="post" th:object="${productRequest}" target="ifrm" enctype="multipart/form-data">
		<h1>판매 신청 하기</h1>
		
		<div>
			판매자 : <input type="text" disabled name="seller" th:value="${user.memId}">
		</div>
		
		<div>
			시리얼 넘버 : <input type="text" name="serialnum" th:field="*{serialnum}">
		</div>
		
		<div>
			책 이름 : <input type="text" name="bookName" th:field="*{bookName}">
		</div>

		<div>
			글쓴이 : <input type="text" name="writer" th:field="*{writer}">
		</div>

		<div>
			가격 : <input type="number" name="price" th:field="*{price}">
		</div>

		<div>
			카테고리 : <input type="text" name="category" th:field="*{category}">
		</div>

		<div>
			출판사 : <input type="text" name="publisher" th:field="*{publisher}">
		</div>

		<div>
			수량 : <input type="number" name="count" th:field="*{count}">
		</div>
		
		이미지 파일 : <input name="image" type="file">

		<button type="button" id="product">신청하기</button>
	</form>
	
	<iframe name="ifrm" class="ifrm dn"></iframe>
</main>
</html>