<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  
>
<body>
<nav th:fragment="nav">
			<nav id="slide_menu">
				<div class="layout_width">
					<a th:href="@{/seller/product/orderManager}">주문 관리</a>
					<a th:href="@{/seller/sellerProduct}">상품 신청</a>
					<a th:href="@{/seller/review}">리뷰 확인</a>
					<a th:href="@{/seller/product/edit}">승인된 상품 수정 하기</a>
					<a th:href="@{/seller/unapproved/edit}">거절 & 미승인 상품 수정 하기</a>
				</div>
			</nav>
			<div id="layer" class="dn"></div>
	</nav>
</body>
</html>