.pointer{cursor: pointer;}
.width100{width:100%;}
.mt-40{margin-top:40px;}
.content{    padding: 100px 300px 100px 300px;
    display: flex;
    align-items: center;
    justify-content: center;
        background-color: #fefaf0;
        height: 700px;}
.login{
    padding: 40px 60px 60px 60px;
    border: 2px solid #313f76;
    border-radius: 20px;
    width: 500px;
    margin: 0 auto;
    
}
.text{padding:20px 10px 10px 10px;}
.loginbox{padding:20px 10px 10px 10px;}
.loginBtn{    border: 1px solid;
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    margin-top: 50px;
    margin-left: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgoldenrodyellow;
    cursor: pointer;}
